<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

a {
 background-color: black; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0047b3;
}

li a::marker {
  color: transparent;
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #3b3d45;
   color: white;
   text-align: center;
   marker-start: none;
   marker-mid: none;
   marker-end: none;
}


.tab1 {
  tab-size: 2;
}


.tab2 {
  tab-size: 4;
}

</style>
</head>
<body>
