<!DOCTYPE html>
<html>
<head>
<style>

:root {
    --DarkBrown: #261408;
    --Blue: #0F8996;
    --Orange: #E38844;
    --Red: #E30000;
    --White: #FFF;
    --Black: #000;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li {
  float: left;
}


a {
 background-color: black;
 border-bottom-right-radius: 10px;
 border-bottom-left-radius: 8px;

}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #E38844;
}


li::marker {
  color: transparent;
}


b {
  margin-left: 10px;
}


h3 {
  color: var(--DarkBrown)
}


* {
  box-sizing: border-box;
}


form {
  display: grid;
  margin-left: -400px;
  margin-right: 250px;
}


[type=submit] {
  -webkit-appearance: button;
  margin-left: 120px;
  margin-right: 140px;
  margin-top: 5px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}


.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: darkslategrey;
   color: white;
   text-align: center;
}


.tab1 {
  tab-size: 2;
}


.tab2 {
  tab-size: 4;
}


</style>
</head>
<body>
